@{
    var captureFields = ViewBag.captureFields as IEnumerable<BillBox.Models.CaptureField>;
}

@foreach (BillBox.Models.CaptureField captureField in captureFields)
{
    <div class="row clearfix">
        <label for="capture-field-@captureField.Name.ToLower()">@captureField.DisplayName</label>
        <input type="text" name="captureField[@captureField.Name]" id="capture-field-@captureField.Name.ToLower()" />
    </div>
}