@{
    var captureFields = ViewBag.captureFields as IEnumerable<BillBox.Models.CaptureField>;
}

@foreach (BillBox.Models.CaptureField captureField in captureFields)
{
    <div class="form-group">
        <label for="capture-field-@captureField.Name.ToLower()">@captureField.DisplayName</label>
        <input type="text" name="CaptureFields[@captureField.Name]" class="form-control" id="capture-field-@captureField.Name.ToLower()" />
    </div>
}