@{
    var captureFields = ViewBag.captureFields as IEnumerable<BillBox.Models.CaptureField>;
}

@foreach (BillBox.Models.CaptureField captureField in captureFields)
{
    <div class="form-group">
        <label for="capture-field-@captureField.Name.ToLower()" class="col-sm-5 control-label">@captureField.DisplayName</label>
        <div class="col-sm-7">
            <input type="text" name="CaptureFields[@captureField.Name]" class="form-control" id="capture-field-@captureField.Name.ToLower()" />
            <script type="text/javascript">
                $(document).ready(function () {
                    
                });
            </script>
        </div>
    </div>
}