<ul class="sidebar-menu">
    <li>@Html.ActionLink("General Settings", "Index")</li>
    <li>@Html.ActionLink("List Payment Types", "ListPaymentTypes")</li>
    <li>@Html.ActionLink("Create Payment Type", "CreatePaymentType")</li>
</ul>