@{
    var rights = ViewBag.rights as IEnumerable<BillBox.Models.UserRight>;
    var userLevel = ViewBag.userLevel as BillBox.Models.UserLevel;
}

@foreach (BillBox.Models.UserRight right in rights)
{
    <div class="row inline clearfix">
        @Html.CheckBox("right["+right.Name+"]", userLevel.HasRight(right.RightId))
        @if(right.DisplayName != null && right.DisplayName != string.Empty)
        {
            @Html.Label(right.DisplayName)
        }else{
            @Html.Label(right.Name)
        }
        
    </div>
}