@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="action">
    <div class="section">
        <div class="section-header">
        </div>
        <div class="section-content">

        </div>
        <div class="section-footer">
        </div>
    </div>
</div>

@section SidebarLeft {
    @Html.Partial("_SidebarMenu")
}
