@model BillBox.Models.Subscriber

@{
    ViewBag.Title = "GetSubscriber";
    var subscriber = (ViewBag.Subscriber != null) ? ViewBag.Subscriber : null;
    var error = ViewBag.Error;
}

<h2>GetSubscriber</h2>

@if (error != null)
{
    <p>An error occurred: @error</p>
}
else
{
    <p>Subscriber: @subscriber.Parish.Name</p>
}
