@model BillBox.Models.User

@{
    ViewBag.Title = "UpdateUser";
}

<h2>UpdateUser</h2>
@if(ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}
else

{
    <p>User Updated : @ViewBag.Result</p>   
}
