@model BillBox.Models.Agent

@{
    ViewBag.Title = "GetAgentWithBranches";
    var agent = (ViewBag.Agent != null) ? ViewBag.Agent : null;
}

<h2>GetAgentAndBranches</h2>
@if (ViewBag.Error != null)
{
     <p>Error: @ViewBag.Error</p> 
}
else
{
    <p>Agent: @agent.Name</p>
    
    if(agent.AgentBranches != null)
    {
    foreach (BillBox.Models.AgentBranch branch in agent.AgentBranches)
        {        
            <p>Branch Name: @branch.Name</p>
        
        }  
    } 
    else
    {
        <p>This agent does not have any branch</p>
    }
}

