@model BillBox.Models.User

@{
    ViewBag.Title = "GetUsers";
    var users = (ViewBag.Users != null) ? ViewBag.Users : null;
}

<h2>GetUsers</h2>

@foreach(BillBox.Models.User user in users)
{
    @*<p>@user.Name</p>*@ 
    <p>@user.Name : @user.UserLevel.LevelName</p>  
}
