@model BillBox.Models.User

@{  var Branches = (ViewBag.AgentBranches != null) ? ViewBag.AgentBranches : null; }

<div>
    @Html.LabelFor(model => model.AgentBranchId)
    @Html.DropDownListFor(model => model.AgentBranchId, new SelectList(Branches, "BranchId", "Name"), "Select Branch")
    @Html.ValidationMessageFor(model => model.AgentBranchId)
</div>

