@model BillBox.Models.CollectionsReportModel

@{  
    var branches = ViewBag.Branches as IEnumerable<BillBox.Models.AgentBranch>;
}

<div class="form-group">
    @Html.LabelFor(model => model.Branch)
    @Html.DropDownListFor(model => model.Branch, new SelectList(branches, "Name", "Name"), "All", new { @class="form-control" })
</div>


