<ul class="sidebar-menu">
    <li>@Html.ActionLink("General Settings", "Index")</li>
    <li>@Html.ActionLink("List Payment Types", "ListPaymentMethods")</li>
    <li>@Html.ActionLink("Create Payment Type", "CreatePaymentMethod")</li>
</ul>